<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-container">

        <div class="title">
            <h1>to do list</h1>
        </div>
 
        <div class="container">
            <h1>
                <%= kindDay %>
            </h1>
        </div>

        <div class="foot">
            <form action="/" method="post">
                <input type="text" name="text" placeholder="add item" autofocus required>
                <button type="submit">add</button>
            </form>
        </div>

        <div class="container-2">

            <% newListItems.forEach(function(item){ %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= item._id%>" onchange="this.form.submit()">
                        <p>
                            <%= item.name %>
                        </p>
                    </div>
                    <% }) %>
                </form>
        </div>
    </div>




</body>
<footer>
    copyright 2023 @dharmaseervi
</footer>

</html>